.table span {
  display: none;
}

.table ul {
  padding-inline-start: 0;
  margin-block-start: 0;
}

.table .list-group-item {
  border: none;
  padding: 0;
}

.table a {
  color: #0893f0;
}

.table a:hover, .table a:focus {
  color: #034979;
}

.table ul td {
  border-top: 0;
  padding: 0;
}